/* Table of Contents
  ________________________
  - Fonts
  - Header
  - Menu
  - Categories
  - Footer
  - Mobile
  
  ________________________________ */


  /*  ________________________
 
     Fonts
   ________________________________ */

   @import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900&display=swap');

   @import url('https://fonts.googleapis.com/css?family=Hind:300,400,500,600,700&display=swap');
 
   body {
     font-family: 'Montserrat', sans-serif;
 }
   /*  ________________________
  
      Header
    ________________________________ */
 
 
    header#Home{
        position: relative;
        text-align: center;
        width: 100%;
        height: 150px;
        background-color: black;
        background-repeat: no-repeat;
    }
 
 
 
 
 
 
 
    /*  ________________________
  
      Menu
    ________________________________ */
 
 
    nav#MainNav{
     background-color:transparent;
     border-color:transparent;
     top: 30px;
    }
 
 
    nav#MainNav .navbar-brand span.subhead{
     color:#ffffff;
     font-weight: 800;
     font-size: 18pt;
    }
 
 
    nav#MainNav .navbar-nav>li>a{
     color: #ffffff;
     font-weight: 400;
     
    }
 
 
    /*  ________________________
  
      Search button
    ________________________________ */
  
   
     
   
   
  /*  ________________________
  
      lOGIN
    ________________________________ */
  
    .signInfo{
        text-align:center;
        
        }
        
        .signInfo form{
        margin-top:50px;
        }



        button.submitInfo{
            display:inline-block;
            color:white;
            width:180px;
            line-height:9px;
            padding:13px 16px;
            text-transform:uppercase;
            font-size:12px;
            border-radius:50px;
            margin-top:20px;
            -webkit-border-radius:50px;
            -moz-border-radius:50px;
            border:2px solid #FFFFFF;
            background-color:#ff6047;
            background-image: -ms-linear-gradient(right, #FF6047 0%, #D11819 100%);
            background-image: -moz-linear-gradient(right, #FF6047 0%, #D11819 100%);
            background-image: -o-linear-gradient(right, #FF6047 0%, #D11819 100%);
            background-image: -webkit-gradient(linear, right top, left top, color-stop(0, #FF6047), color-stop(100, #D11819));
            background-image: -webkit-linear-gradient(right, #FF6047 0%, #D11819 100%);
            background-image: linear-gradient(to left, #FF6047 0%, #D11819 100%);
            }


            .signInfo h3{
                font-weight:400;
                margin-top:100px;
                
                }


   /*  ________________________
  
     About
    ________________________________ */


     .history{
         margin-top: 100px;
     }


     .history p{
       line-height: 30px;
     }





  /*  ________________________
 
     Categories
   ________________________________ */
 
   #category h2{
    font-family: 'Hind', sans-serif;
    margin-top: 50px;
    text-align: center;
    text-decoration: underline;
  }


 .catCont{
  margin-top:50px;
  margin-bottom:20px;
  }
  
  .catBox{
  position:relative;
  height:320px;
  margin-top:10px;
  margin-right:30px;
  padding:0px !important;
  padding-bottom:20px;
  border:1px solid #f2f3f3;
  overflow:hidden;
  }
  
  .catBox:hover{
  background-color:#f2f3f3;
  }
  
  .catImage{
  position:relative;
  text-align:center;
  height:255px;
  overflow:hidden;
  padding:0px !important;
  
  }


  .catImage img{
    display:block;
    max-width:350px;
    margin:0px auto 0px auto;
    }


    .placeTitle h3{
      font-family: 'Hind', sans-serif;
      margin-top:30px;
      margin-bottom:0px;
      font-size:14pt;
      font-weight:500;
      text-align:left;
      padding-left:5px;
      height:40px;
      }

      div.rating{
        padding: 5px;
      }

      div.rating i{
        padding: 5px;
        color: #1ecde2;
      }




    /*  ________________________
 
     About Us
   ________________________________ */






   .upperBorder{
      width: 100px;
      border-top: 5px solid #1ecde2;
   }


   .catImage img{

   }


 
          /*  ________________________
  
      Footer
    ________________________________ */
 
         footer{
           background-color:#e1e8ea;
           height:250px;
           margin-top:50px;
           
         }
         .footWords{
          margin:0px auto 0px auto;
          margin-top:15px;
         }


         .footWords h3{
          font-family: 'Hind', sans-serif;
          font-size: 130%;
        }
 
         .footWords ul{
             padding: 0px;
         }
 
         .footWords ul li{
            list-style-type: none;
         }
 
         .footWords a{
         display:inline-block;
         color:black;
         font-size:12pt;
         font-weight:400;
         margin-top:5px;
         }
         
         .footWords a#sell{
         color: #FFFFFF;
         width:120px;
         line-height:5px;
         padding:13px 16px;
         text-transform: uppercase;
         font-size: 12px;
         border-radius: 50px;
         -webkit-border-radius: 100px;
         -moz-border-radius: 100px;
         margin-left: 7px;
         border:2px solid #FFFFFF;
         background-color:#fb5a43;
         }
         
         .col-centered{
         display: block;
         margin-left: auto;
         margin-right: auto;
         text-align: center;
         float :none;
         }
         .socialBox{
         margin:0px auto 0px auto;
         }
        
         .copyright{
         text-align:center;
         margin-top:50px;
         margin-right:0px !important;
         margin-left:0px !important;
         }
         .copyright p{
         text-align:center;
         color:#df4142;
         }
         

         
        /*Phone  Responsive  */

@media  only screen and (max-width: 480px){


  ul.nav.navbar-nav.navbar-right {
    z-index: 234;
    background-color: black;
}

  .catBox{

    margin-right: 0px;
  }
  .catImage {
    
    padding: 0px;
  }

.catImage img{
  width: 250px;
}


}