/* Table of Contents
  ________________________
  - Fonts
  - Header
  - Menu
  - Categories
  - Footer
  - Mobile
  
  ________________________________ */


  /*  ________________________
 
     Fonts
   ________________________________ */

  @import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900&display=swap');


  /*  ________________________
 
     Header
   ________________________________ */


   header{
       width: 100%;
       height: 1000px;
       background-image: url("../images/cover.jpg");
       background-repeat: no-repeat;
   }


   /*  ________________________
 
     Menu
   ________________________________ */


